
.header__sdt1{
    height: 50px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__sdt-items{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 20px;
    color: white;
}
.header__sdt-items:hover{
cursor: pointer;
color: rgb(255, 255, 0);
}
.logo{
    width: 20rem;
    margin-right: 90px;
}
.header__narbar{
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    transition: all 0.5s ease-in-out;
}
nav.sticky{
    position: fixed;
    /* background: #0098d2; */
    background: #fff;
    opacity: 0.9;
}

.containerx{
    background-color:transparent;
    /* max-width: 1000px; */
    margin: 0px auto;
    z-index: 9999;
    /* position: relative; */
    position: relative;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    top: 0;
    height: 68.949px;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logox img{
    width: 20rem;
    height: auto;
    /* margin-left: 90px; */
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu .changecolor{
    transition: 0.1s
}
#main-menu .changecolor:hover{
    color: #0098d2;
}

#main-menu li a{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 30px 20px;
    text-decoration: none;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: white;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid white;
    display: none;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 12px 15px;
    border-bottom: 1px solid #969292;
    transition: 0.3s;
}
#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1px solid #d8d5d5;
    color: #0098d2;
    margin-left: 5px;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 200px;
    top: 0px;
}

/* thiet lap boarder khi hover */
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}

/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */

#main_product_list3{
    background-size: 200px;
    background-repeat: repeat;
    height: 866px;
    display: flex;
    flex-wrap: wrap;
    /* display: block;   */
}
#main_product_list3 .box4{
    width: 69.5%;
    background-color: #0098d2;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-left: 17%;
    transform: translate(0, 20px);
    position: absolute;
    text-align: center;
    padding: 5px;
}
#main_product_list3 .box31{
    width: 69.5%;
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: bold;
    color: #2e429b;
    margin-left: 17%;
    transform: translate(0, 60px);
    position: absolute;
    text-align: left;
    padding: 5px;
}
#main_product_list3 .box32{
    background-color: white;
    width: 70%;
    height: 82%;
    margin-left: 17%;
    transform: translate(0, 150px);
}
#main_product_list3 .box32 .products1{
    margin: 40px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* transform: translate(0, 40px); */
}
#main_product_list3 .box32 .products1 li{
    flex-basis: 33%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
#main_product_list3 .box32 .products1 li img{
    /* max-width: 100%; */
    height: 250px;
    width: 374.5px;
}
#main_product_list3 .box32 .products1 li .product_cat1{
    display: block;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: #0e95c9;
    text-align: center;
}
#main_product_list3 .box32 .products1 li .product_top1{
    position: relative;
    overflow: hidden;
}
#main_product_list3 .box32 .products1 li .mua_ngay1{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -43px;
    transition: 0.25s ease-in-out;
}
#main_product_list3 .box32 .products1 li:hover .mua_ngay1{
    bottom: 0px;
}
#main_product_list3 .box32 .products1 li:hover .product_top1 .product_thumb1 img{
    filter: opacity(80%);
    transform: scale(1.2);
}
#main_product_list3 .box32 .products1 li .product_top1 .product_thumb1{
    display: block;
}
#main_product_list3 .box32 .products1 li .product_top1 .product_thumb1 img{
    display: block;
    transition: all .5s ease;
}
/*-------------------------------------------------------*/

.outclients{
    display: flex;
}
.box2{
    width: 300px;
    background-color: #0098d2;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-left: 45%;
    transform: translate(0px, 30px);
    position: absolute;
    text-align: center;
    padding: 20px;
}
.outclients .box3{
    width: 60%;
    margin-left: 28%;
    margin-top: 6%;
    /* transform: translate(50px, 50px); */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.outclients .box3 li{
    flex-basis: 30%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    /* margin-bottom: 20px; */

}
.outclients .box3 li img{
    max-width: 100%;
    height: auto;
}
.outclients .box3 li p{
    /* display: block; */
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: 500;
    color: #0e95c9;
    text-align: center;
    transform: translate(-27%, -10px);
}
.outclients .box3 .client_items1{
    border: 1px solid red;
    border-radius: 10px;
    width: 150px;
    box-shadow:  0 10px 20px #505050;
}

.outclients .box3 .client_items1 .client_thumb img{
    width: auto;
    height: 75px;
    display: block;
    transition: all .5s ease;
}

.outclients .box3 .client_items1 .client_thumb img:hover{
    display: block;
    transform: scale(1.3);
}


/* -------------------------------------------------------------------------- */
#footer {
    background: #1d428a;
    padding: 30px 0 20px;
    position: relative;
    overflow: hidden;
}
.default {
    width: 100%;
    float: left;
}
.wrap {
    width: 1800px;
    margin: 0 auto;
    display: block;
}
#footer .col {
    width: 25%;
    float: left;
    position: relative;
    z-index: 10;
}

#footer .col2 {
    box-sizing: border-box;
}
#footer .col .title {
    color: #fff;
    font-weight: bold;
    padding-bottom: 30px;
}
/* ul {
    list-style-type: none;
} */
#footer .col2 li {
    color: #fff;
    line-height: 20px;
    padding-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 5px;
}
#footer .col .title {
    color: white;
    font-weight: 600;
    padding-bottom: 30px;
    font-size: 2rem;
    margin: 0 46px;
}
#footer-bottom {
    background: #143678;
    height: 50px;
}
#footer-bottom .left{
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    text-align: center;
}